@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,500&display=swap');

a {
    color: #fff !important;
}

#root {
    font-family: "Montserrat" !important;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}